@media (max-width: 992px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 885px) {
    html{
        font-size: 50%;
    }
    .facts-icon,
    .sponser-company{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}
@media (max-width: 576px) {
    html{
        font-size: 40%;
    }
    .navber ul,
    .future-container,
    .future-love-section,
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .future-love-section{
        align-items: start;
    }
    .photos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .facts-icon{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
    .sponser-company{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-row-gap: 1rem;
    }
    .footer-left p{
        width: 100%;
    }
    form input{
        padding: 2.1rem 2rem 2.1rem 1rem;
    }
}
@media (max-width: 420px) {
    .menu{
        display: flex;
        flex-direction: column;
    }
}