@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
}
img{
    max-width: 100%;
    height: auto;
}
:root{
    --primary-color: #FF900E;
    --secend-color: #131313;
    --third-color: #727272;
    --b-font-size: 4.5rem;
    --n-font-size: 1.6rem;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    Header Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.header{
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 1rem;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 8rem;
}
.logo h2{
    font-weight: 700;
    font-size: var(--b-font-size);
    line-height: 5.3rem;
    color: var(--secend-color);
}
.navber ul{
    display: flex;
    align-items: center;
}
.navber ul li a{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 500;
    color: #424242;
    padding: 0 2rem;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                    banner Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.banner-text{
    text-align: center;
}
.banner-text h3{
    color: var(--secend-color);
    font-size: 6.4rem;
    line-height: 7.5rem;
    font-weight: 700;
}
.banner-text p{
    line-height: 2.6rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--third-color);
    width: 80%;
    margin: 2.5rem auto;
}
.btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 1.5rem 2rem;
    border: 0;
    border-radius: 1rem;
    margin: 3rem;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                   Quick list Area
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-1 .container{
    margin-top: 8.5rem;
}
.future-container{
    display: flex;
    justify-content: space-between;
    gap: 7.3rem;
}
.photo-album{
    width: 100%;
}
.photos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
    row-gap: 2.4rem;
}
.future-text{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.future-title h3{
    font-size: 4.5rem;
    line-height: 5.3rem;
    font-weight: 500;
}
.future-title p{
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--third-color);
    margin-top: 2.4rem;
    margin-bottom: 3.2rem;
}
.future-title .btn{
    margin: 0;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
            future-love & enjoy section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-2{
    margin-top: 13rem;
    position: relative;
}
.section-2 .container{
    padding-bottom: 16rem;
}
.future-experienc-section{
    display: flex;
    flex-direction: column;
}
.future-love-section{
    display: flex;
    gap: 5.4rem;
    align-items: center;
    justify-content: space-between;
        
}
.love-section-text{
    width: 50%;
}
.future-love-title h3{
    font-weight: 700;
    font-size: var(--b-font-size);
    line-height: 5.3rem;
    color: var(--secend-color);
    padding-left: 1rem;
    border-left: 4px solid var(--primary-color);
    margin-bottom: 2rem;
}
.future-love-title p{
    font-size: var(--n-font-size);
    line-height: 2.6rem;
    font-weight: 400;
    color: var(--third-color);
    margin-bottom: 3rem;
}
.future-experienc{
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.enjoy-section-img{
    width: 50%;
    position: relative;
}
.ten-years-btn{
    text-align: center;
    background-color: #FF900E;
    color: white;
    width: 22rem;
    height: 10rem;
    border-radius: 5px;
    position: absolute;
    bottom: 16%;
    right: 33%;
}
.ten-years-btn h2{
    padding: 2rem 2rem 0;
    font-weight: 700;
    font-size: 4rem;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                     some facts
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-3{
    margin-top: 10rem;
}
.title-text{
    font-size: var(--b-font-size);
    line-height: 5.3rem;
    font-weight: 700;
    color: var(--secend-color);
    margin-bottom: 2.4rem;
}
.title-description{
    line-height: 2.6rem;
    font-size: var(--n-font-size);
    font-weight: 400;
    color: var(--third-color);
    width: 50%
}
.icon-container{
    display: flex;
    justify-content: center;
    
}
.facts-icon{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;
    justify-content: center;
    align-items: center;
}
.icon{
    border: 1px solid var(--primary-color);
    width: 24.1rem;
    height: 24.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    margin-top: 5rem;
}
.icon h3{
    font-size: 4.5rem;
    line-height: 5.3rem;
    font-weight: 500;
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                  sponsers section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.section-4{
    margin-top: 15rem;
}
.sponsers-text{
    text-align: center;
}
.section-4 .title-description{
    margin: 0 auto;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.sponser-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 5rem;
}
.sponser-company img {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                  contact section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.contact{
    margin-top: 9rem;
    background: rgba(255, 144, 14, 0.1);
    padding: 5rem 1rem;
}
.contact-container{
    display: flex;
    justify-content: space-between;
}
.footer-title{
    color: var(--secend-color);
    font-size: 4.5rem;
    line-height: 5.3rem;
    margin-bottom: 1.6rem;
}
.footer-description{
    margin-bottom: 1.6rem;
}
.footer-left p{
    color: var(--third-color);
    font-size: 1.6rem;
    line-height: 2.6rem;
    width: 485px;
}
.social-icon{
    margin-top: 3.2rem;
}
.footer-right h3{
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 2.9rem;
}
.social-icon img{
    padding-left: 1rem;
}
form .btn1{
    display: block;
    margin: 16px 0;
    padding: 20px 35px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 8px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.4rem;
    border: 0;
} 
form input{
    padding: 2.1rem 20rem 2.1rem 2.1rem;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #000;
}


/* =-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=
                  footer section
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
footer .container{
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 13rem;
    margin-bottom: 1rem;
}
footer p{
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 400;
    color: #424242;
    padding: 3rem 0;
    text-align: center;
}